* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
nav {
  background-color: #222;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: crimson;
}
.menu {
  font-size: 18px;
  padding: 15px 5px;
}
.menu li a {
  display: block;
}
.logo a {
  font-size: 20px;
}
/*mobile menu*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
